{% extends 'index.html' %}
{% block content %}
<style type="text/css">
.content-panel{
      height:75%;
      width: 75%;
      position: fixed;
      top: 4%;
      left: 12%;
      }
</style>
<div class="content-panel">
<div class="row">
  <div class="card col-md-4" style="width:30%; margin-top: 8%; height: 90%; margin-left: 15%;">
    <img class="card-img-top" src="../media/image1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Gayatri</h4>
      <p class="card-text">Hi This is Gayatri</p>
      <a href="#">gayathriravinder26@gmail.com</a>
    </div>
  </div>
  <div class="card col-md-4" style="width:30%; margin-top: 8%; height: 90%; margin-left: 4%;">
    <img class="card-img-top" src="../media/image1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Mehabuna</h4>
      <p class="card-text">Hi this is Mehabuna</p>
      <a href="#">n150077@rguktn.ac.in</a>
    </div>
  </div>
</div>
</div>
{% endblock content %}